<% include ./partials/header %>
<h4>Blogs#Index</h4>

<% blogs.forEach(function(blog) { %>
  <div class="blog">
    <div>
      <img class="ui medium image" src=<%= blog.image%> alt="Default campsite"/>
      <div class="blog-body">
        <a href="/blog/<%= blog.id %>">
          <h4 class="card-title"><%= blog.title %></h4>
        </a>
        <p class="card-text"><%= blog.body %></p>
        <p><%= blog.created %></p>
      </div>
    </div>
  </div>
<% }) %>

<% include ./partials/footer %>
